.about-page {
  background-color: white;
  color: black;
  padding-bottom: 20px;
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 20px;
    font-family: 'Protest Strike'
  }

  li {
    line-height: 160%;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
  }

  img.float-end {
    width: 50%;
  }

  img[src="images/lighthouse-results.jpg"] {
    width: min(600px, 100%);
  }

  margin-top: -3rem;
  margin-bottom:-2.5rem;

  @media (min-width: 576px) {
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

}