.album .img-holder {
  object-fit: cover;
  padding: 15px;
}

.album .img-holder img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
}

.spotify-playlist-frame {
  width: 100%;
  aspect-ratio: 1;
}

.album .img-holder img {
  width: calc(50% - 10px);
}

.spotify-frame-holder {
  overflow: hidden;
  float: right;
  width: calc(50% - 10px);
  border-radius: 15px;
}

.img-holder.small .spotify-frame-holder {
  float: none;
  width: 100%;
}

.img-holder.small img {
  display: none;
}

.spotify-frame-holder.small img {
  width: 100px !important;
}

.album.short .description p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album .card-title {
  font-size: 22px;
}

.album-artist-names {
  font-size: 110%;
  font-family: 'Protest Strike';
}

.album-artist-names a {
  color: #000;
  text-decoration: none;
}

.album .description {
  min-height: 130px;
}

@media (min-width: 1200px) {
  .album:not(.short) .description {
    columns: 2;
    column-gap: 30px;
    line-height: 160%;
    font-size: 18px;
  }

  .album .card-title {
    font-size: 24px;
  }
}

.album .img-holder img {
  border: 1px solid #ddd;
}

.album-artists {
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

.album-artists h3 {
  margin-top: 20px;
  font-family: 'Protest Strike';
}

.album-artist {
  width: calc(33.33% - 14px);
  float: left;
  margin-left: 20px;
  border-radius: 15px;
  background-color: black;
}

.album-artist a {
  text-decoration: none;
}

.album-artist:first-of-type {
  margin-left: 0;
}

.album-artist img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.album-artist p {
  font-family: 'Protest Strike';
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 120%;
}


.album-artist-img-holder {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.album-artist-img-holder img {
  transition: transform 0.5s;
}

.album-artist-img-holder:hover img {
  transform: scale(1.1);
}

@media (max-width: 767.98px) {
  .album-artist {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}