.artist img.main {
  object-fit: cover;
  aspect-ratio: 30/9;
  object-position: 50% 40%;
}

.artist.short img {
  object-position: 50% 50%;
  aspect-ratio: 16/9;
}

.artist.short .description p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist .card-title {
  font-family: 'Protest Strike';
  font-size: 24px;
}

.artist .description {
  min-height: 78px;
}

@media (min-width: 1200px) {
  .artist:not(.short) .description {
    columns: 2;
    column-gap: 30px;
    line-height: 160%;
    font-size: 18px;
  }

  .artist .card-title {
    font-size: 30px;
  }
}

.artist-albums {
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

.artist-albums h3 {
  margin-top: 20px;
  font-family: 'Protest Strike';
}

.artist-album {
  width: calc(33.33% - 20px);
  float: left;
  margin-left: 20px;
  border-radius: 15px;
  background-color: black;
}

.artist-album:first-of-type {
  margin-left: 0;
}

.artist-album img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.artist-album p {
  font-family: 'Protest Strike';
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 120%;
}

@media (max-width: 767.98px) {
  .artist-album {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}