/* Box sizing */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: black;
  color: #fff;
  background-image: url('/images/waves.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  font-family: 'Merriweather';
}

footer {
  background-color: var(--header-footer-bg-color);
  color: #ffecd1;
}

img[src="/images/404.png"] {
  width: 100%;
}