label,
input {
  font-family: var(--bs-font-sans-serif);
}

label {
  width: 100%;
}

textarea {
  height: 20vh;
}

img.preview {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

img.preview.album {
  aspect-ratio: 1;
}

@media (min-width: 992px) {
  img.preview {
    width: 40%;
  }

  img.preview.album {
    width: min(300px, 40%);
  }

  input[type="file"] {
    width: 50%;
  }
}